*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:'Segoe UI',sans-serif;

    background:linear-gradient(
        135deg,
        #667eea,
        #764ba2
    );

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;
}

.container{

    width:80%;
    max-width:900px;

    background:white;

    padding:40px;

    border-radius:20px;

    box-shadow:
    0 15px 40px rgba(0,0,0,0.2);

    text-align:center;
}

h1{

    color:#333;

    margin-bottom:10px;

    font-size:40px;
}

.subtitle{

    color:gray;

    margin-bottom:30px;
}

.search-box{

    display:flex;

    justify-content:center;

    gap:10px;
}

input{

    width:70%;

    padding:15px;

    border:none;

    border-radius:50px;

    background:#f3f3f3;

    font-size:18px;
}

input:focus{

    outline:none;

    box-shadow:0 0 10px #667eea;
}

button{

    padding:15px 30px;

    border:none;

    border-radius:50px;

    background:#667eea;

    color:white;

    font-size:16px;

    cursor:pointer;

    transition:0.3s;
}

button:hover{

    background:#4c5fd5;
}

.results{

    margin-top:40px;

    text-align:left;
}

.card{

    background:#f8f9ff;

    border-left:5px solid #667eea;

    padding:20px;

    margin-bottom:15px;

    border-radius:10px;

    transition:0.3s;
}

.card:hover{

    transform:translateY(-3px);

    box-shadow:0 8px 20px rgba(0,0,0,0.1);
}

.card h3{

    color:#333;
}

.score{

    color:green;

    font-weight:bold;
}
a{

    text-decoration:none;

    color:#667eea;

    font-weight:bold;
}

a:hover{

    color:#4c5fd5;
}

pre{

    white-space:pre-wrap;

    font-size:16px;

    line-height:1.8;
}